/* ==========================
TABLETS
========================== */

@media (max-width: 1024px){

.hero-grid,
.newsletter-container,
.footer-grid{

grid-template-columns:1fr;

gap:50px;

}

.social-grid{

grid-template-columns:repeat(2,1fr);

}

.company-grid{

grid-template-columns:repeat(2,1fr);

}

.roadmap{

grid-template-columns:repeat(2,1fr);

}

.stats{

grid-template-columns:repeat(2,1fr);

}

.hero h1{

font-size:56px;

}

.section-header h2{

font-size:42px;

}

}

/* ==========================
MOBILE
========================== */

@media (max-width:768px){

.navbar{

height:auto;

padding:18px 0;

flex-direction:column;

gap:18px;

}

nav{

display:none;

}

.hero{

padding-top:140px;

}

.hero h1{

font-size:42px;

letter-spacing:-1px;

}

.hero p{

font-size:18px;

}

.hero-buttons{

flex-direction:column;

}

.button{

width:100%;

}

.stats,
.social-grid,
.company-grid,
.roadmap{

grid-template-columns:1fr;

}

.timeline-item{

grid-template-columns:1fr;

}

.timeline::before{

display:none;

}

.timeline-year{

padding-bottom:12px;

}

.newsletter h2{

font-size:42px;

}

.footer-grid{

grid-template-columns:1fr;

}

.footer-bottom{

flex-direction:column;

align-items:flex-start;

}

}

@media (max-width:1024px){

.logo-grid{

grid-template-columns:repeat(3,1fr);

}

}

@media (max-width:768px){

.logo-grid{

grid-template-columns:repeat(2,1fr);

}

.logo-card{

height:100px;

}

}

@media (max-width:1200px){

.roadmap{

grid-template-columns:repeat(3,1fr);

}

}

@media (max-width:900px){

.roadmap{

grid-template-columns:repeat(2,1fr);

}

}

@media (max-width:768px){

.roadmap{

grid-template-columns:1fr;

}

.roadmap-card{

min-height:auto;

}

}