*{
margin:0;
padding:0;
box-sizing:border-box;
}

body{

font-family:Inter,sans-serif;

background:#FAFAFA;

color:#111;

line-height:1.6;

}

.container{

width:min(1150px,90%);

margin:auto;

}

header{

position:fixed;

top:0;

width:100%;

background:rgba(250,250,250,.8);

backdrop-filter:blur(12px);

border-bottom:1px solid #eee;

z-index:1000;

}

.nav{

display:flex;

justify-content:space-between;

align-items:center;

padding:22px 0;

}

.logo{

font-size:22px;

font-weight:800;

}

nav{

display:flex;

gap:32px;

}

nav a{

text-decoration:none;

color:#444;

font-weight:500;

transition:.2s;

}

nav a:hover{

color:#111;

}

.btn{

padding:15px 28px;

background:#111;

color:white;

text-decoration:none;

border-radius:999px;

font-weight:600;

transition:.3s;

display:inline-block;

}

.btn:hover{

transform:translateY(-2px);

}

.secondary{

background:white;

color:#111;

border:1px solid #ddd;

}

.btn-small{

padding:12px 20px;

}

.hero{

padding-top:180px;

padding-bottom:120px;

text-align:center;

}

.eyebrow{

display:inline-block;

padding:10px 18px;

border-radius:999px;

background:white;

border:1px solid #ddd;

font-weight:600;

margin-bottom:32px;

}

.hero h1{

font-size:72px;

line-height:1.05;

max-width:900px;

margin:auto;

font-weight:800;

letter-spacing:-2px;

}

.hero p{

font-size:22px;

color:#666;

max-width:760px;

margin:30px auto;

}

.hero-buttons{

display:flex;

justify-content:center;

gap:18px;

margin-top:50px;

}

.stats{

margin-top:90px;

display:grid;

grid-template-columns:repeat(4,1fr);

gap:40px;

}

.stats h2{

font-size:46px;

margin-bottom:8px;

}

.stats span{

color:#666;

}